@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#busstopsection{
    background-image: url(busstopB.jpeg);
     margin: 0;
    padding:12px 14px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  
   
    
  
  }
#busstopsection h1{
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    color:crimson;
    border: 2px solid whitesmoke;
    font-size: 2rem;
    letter-spacing: 0rem;
    font-family: 'Montserrat',sans-serif;
}
#busstopsection h2{
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    color: crimson;
    border: 2px solid white;
    font-size: 2rem;
    letter-spacing: 0rem;
    font-family: 'Montserrat',sans-serif;
}
/*
#busstopsection{
    * {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
      }
      
      .column {
        float: left;
        width: 33.33%;
        padding: 15px;
      }
      
      .row::after {
        content: "";
        display: table;
        clear: both;
      }
    
}*/

   #busstopsection p{
        border: 2px solid whitesmoke;
        border-radius: 8px;
        padding: 5px;
        color:white;
        font-family: 'Montserrat',sans-serif;
        font-weight: bold;
        
        
        margin: 5%;
  
      }
      div.transbox {
        margin: 30px;
        background-color: black;
        border: 1px solid whitesmoke;
        opacity: 0.6;
      }
     
