table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

table {
    width: 50%;
    background-color: whitesmoke;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    margin-bottom: 50px;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }

  tr:last-child {
    border-bottom: none;
}  

.center-column {
    text-align: center;
}