@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#loginsection {
   background-image: url(nightimage.jpg);
   margin: 0;
  padding:12px 14px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


}
#loginsection h2{
    color: white;
    font-family: 'Montserrat',sans-serif;
  
    
}
#loginsection b{
    color: white;
    font-family: 'Montserrat',sans-serif;
   
}
