body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(nightimage.jpg);
    background-size: cover;
    background-position: center;
}

.login-box{
         max-width: 100%;
         float: none;
         margin: 150px auto;
}

.login-left{
         background : #ffffff;
         padding :30px;
}

.login-right{
    background : rgba(211,211,211,0.5);
    padding :30px;
}

a{
    color:#fc8080 !important;
    margin-top: -200px !important;
}

h1{
     color: #fff !important;
     margin-top: 200px !important;
     text-align: center;
     text-transform: uppercase;
}

h3{
    color: #fff !important;
     margin-top: 200px !important;
     text-align: center;
     text-transform: uppercase;
}

p{
    color:#ffffff;
    text-align: right;
}

h6{
    color:#000000;
    text-align: right;
}

.vehicle-right{
     text-align: center;
     background: gray;
}

.bus-right{
    margin: 0;
    position: absolute;
    top: 50%;
   
}